[user]
  name = Hunter Tunnicliff
[pull]
  rebase = false
[init]
  defaultBranch = main
[core]
  editor = nano
  excludesFile = ~/.globalgitignore
[alias]
  smoosh = commit --amend --no-edit --no-verify
  refresh = !git reset --hard && git clean -f
  unstage = reset HEAD --
[includeIf "gitdir:~/Dev/"]
    path = ~/Dev/.gitconfig
[push]
	autoSetupRemote = true
