[user]
  name = Hunter Tunnicliff
[pull]
  rebase = false
[init]
  defaultBranch = main
[core]
  editor = nano
  excludesFile = ~/.globalgitignore
[alias]
  smoosh = commit --amend --no-edit --no-verify
[includeIf "gitdir:~/Dev/"]
    path = ~/Dev/.gitconfig
[push]
	autoSetupRemote = true
[diff]
	algorithm = histogram
[merge]
	conflictStyle = zdiff3
