[user]
	name = Hunter Tunnicliff
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMLYbsVL91clD+FBeb3oyL23aVGRKicQxRFHlcKUI++q
[pull]
	rebase = false
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[init]
	defaultBranch = main
[core]
	editor = nano
	excludesFile = ~/.globalgitignore
[alias]
	smoosh = commit --amend --no-edit --no-verify
	gone = "!c() { git branch -vv | grep ': gone]' | awk '{print $1}'; }; c"
[includeIf "gitdir:~/Dev/"]
	path = ~/Dev/.gitconfig
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[diff]
	algorithm = histogram
[merge]
	conflictStyle = zdiff3
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
